<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_profile' %}">Add Profile</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger ms-3" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center mt-5">
  <h1>Welcome to My Website</h1>
  <p class="lead">This homepage is styled with Bootstrap 5.</p>
  <a href="#" class="btn btn-primary mt-3">Get Started</a>
</div>


<div class="container mt-5 d-flex justify-content-center">
  <div class="card text-bg-info mb-3" style="width: 18rem;">
    <img src="https://media.licdn.com/dms/image/v2/C4E0BAQE8Wo1hbNMFsg/company-logo_200_200/company-logo_200_200/0/1655302743415/aiillusions_logo?e=2147483647&v=beta&t=uL4uivZPcznDSiCYg2GaquC-FGemOmSgxz54kZITWck" class="card-img-top" alt="...">
    <div class="card-body text-danger">
      <h5 class="card-title">Algoryc</h5>
      <p class="card-text">Innovating at the intersection of humanity and technology.</p>
      <a href="{% url 'contact' %}" class="btn btn-primary">Contact</a>
    </div>
  </div>
</div>
<footer class="bg-light py-3 mt-5">
  <div class="container text-center">
    <small class="text-muted">&copy; Ibrahim's Website.</small>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
